[submodule "re_gen"]
	path = re_gen
	url = https://github.com/cdit-ma/re_gen
[submodule "test/modelcontroller/test_models"]
	path = test/modelcontroller/test_models
	url = https://github.com/cdit-ma/test_models
