# cdit-ma default build dirs
/build/
/lib/
/bin/
/cmake-build-*/
/docs/doxygen/
/deps/

# IDE config dirs
/.vscode/
**/.idea/

/re/extern/**

# Scripts and other artifacts
.DS_Store
CMakeSettings.json.bak

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.py[cod]

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#Cached
.vscode
/__pycache__/

#Protobuf
*.pb.*

#SQL
*.sql

# CLion virtual environment for Python development
/venv/
/CMakeSettings.json
/.vs
/out/build/x64-Debug
