# default build dirs
/build/
/lib/
/bin/
/cmake-build-*/

# IDE config dirs
/.vscode/
/.idea/

# Scripts and other artifacts
.sql
.DS_Store
scripts/configure.bat
build.bat
run.bat
CMakeSettings.json.bak
/src/workers/opencl/binaries/*
