[submodule "extern/DockerClient"]
	path = re/extern/DockerClient
	url = https://github.com/cdit-ma/DockerClient
[submodule "extern/cuda-api-wrappers"]
	path = re/extern/cuda-api-wrappers
	url = https://github.com/eyalroz/cuda-api-wrappers.git

